.mw{
    width: 100%;
}
.mh{
    height: 100%;
}
.aw{
    width: auto;
}
.ah{
    height: auto;
}
.ofa{
    overflow: auto;
}
.bw{
    background: white;
}
.bg{
    background: #548235;
}
.nmg{
    margin: 0 !important;
}
.ntd{
    text-decoration: none !important;
}